main {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-family: 'Urbanist', sans-serif;
  
}

h1 {
   font-weight: normal;
   font-style: normal; 
   font-size: 42pt;
}

h2{
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

body{
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color:#e3e3e3;
  background-color: #07384b; 

  /* background-image: url("../images/gradient.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */

  background-image: url("images/overlay.png"), linear-gradient(60deg, #001b26 15%, #0b455b 85%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#content {
  display:grid;
  grid-template-columns: 60% 40%;
}


a {
  font-weight: 500;
  color: #0f7374;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  color: #238f91;
}

#sections {

  padding-top:25px;
  padding-left:15px;
  padding-right:15px;
}

/* section{
  background-color: #242424;
} */

.card{
  border-radius: 10px;
  color-scheme: light dark;
  color:#242424;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

#vis {
  top:0;
  position:sticky;
  box-sizing: border-box;
  height:100vh;
  min-width:600px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}

section{
  height: 95vh;
}

#question {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
}

div.legend{
  padding-top: 40px;
  padding-bottom: 40px;
}

.yAxis .tick text{
  font-size: 15.5px;
  font-family: 'Urbanist', sans-serif;
}

.xAxis .tick text{
  font-size: 12px;
  font-family: 'Urbanist', sans-serif;
}

circle.ingre-chart{
  cursor: pointer;
}

#info p, #ingre-info{
  opacity: 0;
}

.down{
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.down:hover{
  opacity: 0.3;
}

